* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
  color: #333;
}

.wrap {
  max-width: 767px;
  width: calc(100% - 30px);
  margin: 100px auto;
}

.wrap .list .item {
  margin-bottom: 50px;
}

.wrap .list .item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.wrap .list .item .title h1 {
  font-size: 40px;
}

.wrap .list .item .title button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  position: relative;
}

.wrap .list .item .title button::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url('./plus.svg') center center / 100% no-repeat;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

.wrap .list .item figure {
  width: 100%;
  height: 52.15vw;
  border-radius: 20px;
  overflow: hidden;
}

.wrap .list .item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap .list .item .text {
  margin-top: 20px;
}

.wrap .list .item .text h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}

.wrap .list .item .text h4 {
  font-size: 20px;
  font-weight: 400;
}